.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}


.form-group{
	width:60%;

}


footer{
	background: #D2B48C;
}

#Title{
	font-family: 'Molle', cursive;	
}

/*
.navbar .navbar-collapse {
  text-align: center;
}


div table{
	border-spacing: 10px;
}

#header{
	background: GreenYellow;
}

.menuItem{
	font-size: 20px;
	font-weight: bold;

}

.boldText{
	font-weight: bold;
}

a{
	font-weight: normal;
}

a:visited{
	color: green;
}

a:hover{
	font-weight: bold;
}

a:active{
	text-decoration: none;
}

table#beverages{
	width: 400px;
	border: 1px solid black;
	border-collapse: collapse;
}

table#beverages caption{
	font-weight: bold;
}

table#beverages tr:nth-child(even) {
	background-color: #E6E6FA;
}

*/








