#header{
	background: GreenYellow;
}

div table{
	border-spacing: 10px;
}

#footer{
	background: SandyBrown;
}

#Title{
	font-family: 'Molle', cursive;	
}

.menuItem{
	font-size: 20px;
	font-weight: bold;

}

.boldText{
	font-weight: bold;
}