body {
    background-color: lightblue;
    font-style: Tahoma, Verdana;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: green;
}

table#tracks{
	background-color: #7FFFD4;
}

table td{
	font-style: italic;
}