/*
body {
    background-color: lightblue;
    font-style: Tahoma, Verdana;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: green;
}

table#tracks{
	background-color: #7FFFD4;
}

table td{
	font-style: italic;
}

.container{
	margin: 0 auto;
}

h1{
	font-weight: bold;
}

*/
/*
table{	
	table-layout: fixed;
	width:60%;
}

table th, table td{
	overflow: hidden;
}
*/